*
{
	margin: 0;
	padding-left: 0;
	box-sizing: border-box;
}
body
{
	font-family: roboto;
}
.container
{
	width: 940px;
	margin: auto;
}
.top
{
	background:lightblue;
	padding:10px 0;
}
.top_left
{
	float: left;
}
.top_left ul
{
	list-style: none;
}
.top_left ul li
{
	display: inline;
	padding-right: 10px;
	color: #000;
}
.top_right
{
	float: right;
}
.container:after
{
	content: '';
	display: table;
	clear: both;
}
select
{
	background: transparent;
	border:0;
	color:#fff;
}
.menu
{
	background:url(../images/9_05.png);
	height: 75px;
}
.logo
{
	float: left;
	padding-top: 20px;
}
.searchbox
{
	float: right;
	margin :17px;
}
nav
{
	float: right;
}
nav ul
{
	list-style: none;
	padding-top: 27px;
}
nav ul li
{
	display: inline;
}
nav ul li a
{
	text-decoration: none;
	color: #000;
	padding: 27px 15px;
}
.active a, nav ul li a:hover
{
	background:url(../images/9_03.png);
}
.search
{
	background: url(../images/9.png)no-repeat;
	margin-top: 10px;
	width: 140px;
	height: 20px;
	border:1px solid #ccc;
	border-radius: 5px;
	background-position: 120px 5px;
	padding-left: 10px;
}
.banner
{
	background:lightblue;
	height: 390px;
	position: relative;
	overflow: hidden;
}
.cloud
{
	position: absolute;
	bottom: -10px;
	left: 0;
}
.leftserver
{
	position: absolute;
	right: 30%;
	bottom:36px;
}
.rightserver
{
	position: absolute;
	bottom: 36px;
	right: 10%;
}
.midcloud
{
	position: absolute;
	bottom: 0;
	right: 0;
}
.midserver
{
	position: absolute;
	right:16%;
	bottom: 20px;
}
.worldmap
{
	position: absolute;
	top: 0;
	left: 16%;
}
.text
{
	position: absolute;
	left: 20%;
	top: 30px;
	color:blue;
}
.text h1
{
font-size: 50px;
}
.text h2
{
	text-transform: uppercase;
}
.text p
{
	padding: 10px 0;
}
.text dl
{
	padding: 20px;
}
.text dl dt
{
	line-height: 22px;
}
.text dl dt:before
{
	content: url(../img/check1.png);
	padding-right: 12px;
}
.about
{
	padding-top: 40px;
	text-align: center;
}
.about h3
{
	color: blue;
	font-size: 22px;
	padding: 10px 0;
	text-transform: capitalize;
}
.about p
{
	color: green;
	padding-top: 20px;
}
.vision
{
	display: grid;
	grid-template-columns: auto auto auto;
	margin-top: 30px;
}
.shadow
{
	margin: 50px;
}
.domainsearch
{
text-align: center;
}
.domain
{
 	margin: auto;
 	padding:20px;
}
footer
{
  background: #044470;
  color: #fff;
  margin: auto;
  padding:20px 0;
}
.fleft
{
	float: left;
}
 .frigt
{
	float: right;
}
.container2
{
	width: 600px;
	margin: auto;
}
.down
{
	background:#fff;
	padding:40px 0 ;
}
